<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Varázslak Staff - Bejelentkezés</title>

    <link rel="icon" href="/assets/varazslak_logo.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<header class="header">
    <div class="container" style="">
        <img src="/assets/varazslak_logo.png" alt="Varázslak Logo" class="logo">
        <h1>Varázslak Fejlesztőház</h1>
    </div>

</header>
<div class="filler">
    <section class="registration-form">
        <div class="container" id="apply-form">
            <h1>Jelentkezz be</h1>
            <div th:if="${param.error}" class="alert alert-danger">
                Hibás felhasználónév vagy jelszó.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                Sikeres kijelentkezés.
            </div>
            <form th:action="@{/login}" method="post">
                <div>
                    <input class="form-control" type="text" name="username" placeholder="Felhasználónév"/>
                </div>
                <div>
                    <input class="form-control" type="password" name="password" placeholder="Jelszó"/>
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Bejelentkezés" />
                <a href="/" class="btn btn-outline-secondary">Vissza a főoldalra</a>
            </form>
        </div>
        <div>
            <p class="fst-italic" style="font-weight: lighter; margin: 12vh;" th:text="${quote}"></p>
        </div>
    </section>
</div>
<footer th:replace="~{fragments/nav :: footer}"></footer>
</body>
</html>