<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header class="header" th:fragment="staffheader">
    <div class="header-container">
        <div class="header-icon-title">
            <a href="/">
                <img src="/assets/varazslak_logo.png" alt="Varázslak Logo" class="logo">
            </a>
            <h1>Varázslak <span th:text="STAFF"></span></h1>
        </div>
        <nav class="topnav navbar navbar-expand-lg" id="nav">
            <div class="container">
                <a href="javascript:void(0);" class="icon" onclick="openClose()">
                    <i class="bi bi-list h1"></i>
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/staff/}" class="nav-link">Vezérlőpult</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/staff/applications}" class="nav-link">Jelentkezések</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a th:href="@{/staff/manage-services}" class="nav-link">Szolgátatások</a>
                    </li>
                    <li class="nav-item show-in-responsive">
                        <a href="/" class="nav-link">Városválasztó</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Kijelentkezés</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</header>



<footer th:fragment="footer">
    <div class="footer-content">
        <div class="social-icons">
            <a href="#"><img src="/assets/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/assets/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/assets/linkedin.png" alt="LinkedIn"></a>
        </div>
        <p>
            &copy; 2024 Varázslak Fejlesztőház
            <br>
            <a href="https://martinisztin.com">martinisztin</a>
        </p>

    </div>
</footer>
</body>
</html>