<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Varázslak - Nem található</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
</head>
<body>
<div class="container">
    <h1>Hiba</h1>
    <!-- <p th:text="${exception}"></p> -->
    <p>Dolgozunk az ügyön</p>
    <a href="/">Irány vissza!</a>
</div>
</body>
</html>