<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Tájékozódj a Varázslak szolgáltatásainak áráról">
  <meta name="keywords" content="varázslak, varazslak, fejlesztohaz, fejlesztőház, szakemberek, gyógypedagógia, varázslak fejlesztőház, varazslak fejlesztohaz">
  <meta name="author" content="Varázslak Fejlesztőház">

  <title>Varázslak Fejlesztőház - Termeink</title>

  <link rel="icon" href="/assets/varazslak_logo.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/header.css">

  <link rel="stylesheet" href="/css/prices.css">

</head>
<body>
<header th:replace="~{fragments/nav :: header(${city})}">
</header>

<main>
  <section class="price-header">
    <div class="container">
      <h2>Termeink</h2>
    </div>
  </section>
  <section class="rooms">
    <section th:each="room: ${rooms}" style="margin-bottom: 40px">
      <h3 th:text="${room.getKey()} + ' szoba'"></h3>
      <div th:id="'carousel' + ${room.getKey()[0]}" class="carousel slide">
        <div class="carousel-indicators">
          <button th:each="i : ${#numbers.sequence( 0, room.getValue().size() - 1)}" type="button" th:data-bs-target="'#' + 'carousel' + ${room.getKey()[0]}" th:data-bs-slide-to="${i}" th:class="${i == 0 ? 'active' : ''}" aria-current="true" th:aria-label="${i + 1} + '. kép'"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img th:src="'/assets/' + ${strippedCity} + '/uploads/rooms/' + ${room.getKey()} + '/' + '1.jpg'" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" th:each="img: ${room.getValue()}" th:if="${img != '1.jpg'}">
            <img th:src="'/assets/' + ${strippedCity} + '/uploads/rooms/' + ${room.getKey()} + '/' + ${img}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" th:data-bs-target="'#' + 'carousel' + ${room.getKey()[0]}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" th:data-bs-target="'#' + 'carousel' + ${room.getKey()[0]}" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
  const myCarouselElement = document.querySelector('#carousel')

  const carousel = new bootstrap.Carousel(myCarouselElement, {
    interval: 2000,
    touch: false
  })
</script>
<script src="/js/nav.js"></script>
<footer th:replace="~{fragments/nav :: footer}"></footer>
</body>
</html>
